<%= form_with(model: @post, id: "new-post", local: false) do |f| %>
  <br />
  <div class="form-group">
    <%= f.text_area :description, class: 'form-control' , placeholder:'Tell me more about your post...' , id: "exampleTextarea", rows: "3" %>
  </div>
  <div class="form-group clearfix">
    <%= f.file_field :image, id: 'uploadimage' , class: 'form-control', style: 'width:20%; float: center;'%>
  </div>
  <br />
  <div class="form-group clearfix">
    <%= f.submit id:'postbutton', class: 'btn btn-primary btn-lg float-end'%>
  </div>
<% end %>     


<!-- <script>
  Rails.ajax({
    type: "POST", 
    url: "<%#= posts_path %>",
    data: {}},
    success: function(repsonse){...},
    error: function(repsonse){...}
  })


  window.addEventListener("load", () => {
    const element = document.querySelector("#new-post");
    element.addEventListener("ajax:success", (event) => {
      const [_data, _status, xhr] = event.detail;
      element.insertAdjacentHTML("beforeend", xhr.responseText);
    });
    element.addEventListener("ajax:error", () => {
      element.insertAdjacentHTML("beforeend", "<p>ERROR</p>");
    });
  });
</script>


 -->



